html,
body,
textarea,
button {
	font-size: min(2vw, 2vh);
	user-select: none;
	font-family: 'Cascadia Code', 'Segoe UI', 'Microsoft YaHei', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
}

a {
	color: inherit;
	text-decoration: none;
}

.horizontal {
	display: flex;
}

.horizontal.centered {
	justify-content: center;
}

.horizontal.right {
	justify-content: flex-end;
}

b,
.bold {
	font-weight: 900;
}

.select {
	user-select: text;
}

* {
	margin: 0;
	padding: 0;
	transition: all 0.2s;
}

body {
	background-color: #000;
	color: #FFF;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

body.lighttheme {
	background-color: #FFF;
	color: #000;
}

.main {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.hidden {
	opacity: 0;
}

.nodisplay {
	display: none !important;
}

.box,
button,
.button,
textarea,
dialog,
::-webkit-scrollbar-thumb {
	border-radius: min(0.5vw, 0.5vh);
}

.box {
	padding: min(1vw, 1vh);
}

.primary.box {
	background-color: #FFF4;
	font-weight: 400;
}

.secondary.box {
	background-color: #FFF8;
}

.tertiary.box {
	border: 1px solid #FFF;
}

.lighttheme .primary.box {
	background-color: #FFF;
}

.lighttheme .secondary.box {
	background-color: #FFF8;
}

.lighttheme .tertiary.box {
	border: 1px solid #FFF;
}

dialog {
	margin: auto;
	background-color: #000;
	color: #FFF;
	font-size: min(2vw, 2vh);
	border: 1px solid #FFF;
	padding: min(5vw, 5vh);
}

dialog::backdrop {
	background-color: #FFF8;
}

.lighttheme dialog {
	background-color: #FFF;
	color: #000;
	border-color: #000;
}

.lighttheme dialog::backdrop {
	background-color: #0008;
}

input,
.button {
	background-color: #000;
	color: #FFF;
	border: 1px solid #FFF;
	font-family: 'Cascadia Code', 'Segoe UI', 'Microsoft YaHei', Tahoma, Geneva, Verdana, sans-serif;
	font-size: min(2vw, 2vh);
	border-radius: min(0.5vw, 0.5vh);
	margin: min(0.5vw, 0.5vh);
	padding: min(0.5vw, 0.5vh);
}

.lighttheme input,
.lighttheme .button {
	background-color: #FFF;
	color: #000;
	border-color: #000;
}

.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
	background-color: #FFF4;
}

.button:active,
.active.button {
	background-color: #FFF8;
}

.lighttheme .button:hover {
	background-color: #0004;
}

.lighttheme .button:active {
	background-color: #0008;
}

.disabled.button,
.lighttheme .disabled.button {
	background-color: #0000;
	color: #888;
	border: 1px solid #888;
	cursor: not-allowed;
}

.round {
	border-radius: 100%;
}

.padded {
	padding: min(1vw, 1vh) min(3vw, 3vh);
}

textarea {
	color: #FFF;
	background-color: #000;
	border: 1px solid #FFF;
}

.lighttheme textarea {
	color: #000;
	background-color: #FFF;
	border-color: #000;
}

.small.avatar {
	width: min(5vw, 5vh);
	height: min(5vw, 5vh);
}

path {
	fill: #FFF;
}

.lighttheme path {
	fill: #000;
}

td {
	padding: min(1vw, 1vh);
}

details {
	margin-top: min(2vw, 2vh);
	margin-bottom: min(2vw, 2vh);
}

.red {
	color: #F44;
}

.red-bordered {
	border-color: #F44;
}

.orange {
	color: #F84;
}

.orange-bordered {
	border-color: #F84;
}

.yellow {
	color: #FF4;
}

.yellow-bordered {
	border-color: #FF4;
}

.green {
	color: #4F4;
}

.green-bordered {
	border-color: #4F4;
}

.blue {
	color: #4CF;
}

.blue-bordered {
	border-color: #4CF;
}

.purple {
	color: #C4F;
}

.purple-bordered {
	border-color: #C4F;
}

.lighttheme .red {
	color: #C00;
}

.lighttheme .red-bordered {
	border-color: #C00;
}

.lighttheme .orange {
	color: #C84;
}

.lighttheme .orange-bordered {
	border-color: #C84;
}

.lighttheme .yellow {
	color: #CC0;
}

.lighttheme .yellow-bordered {
	border-color: #CC0;
}

.lighttheme .green {
	color: #0C0;
}

.lighttheme .green-bordered {
	border-color: #0C0;
}

.lighttheme .blue {
	color: #08C;
}

.lighttheme .blue-bordered {
	border-color: #08C;
}

.lighttheme .purple {
	color: #80C;
}

.lighttheme .purple-bordered {
	border-color: #80C;
}

::-webkit-scrollbar {
	background-color: #0000;
}

::-webkit-scrollbar-thumb {
	background-color: #FFF;
}

.lighttheme ::-webkit-scrollbar-thumb {
	background-color: #CCC;
}

@keyframes fadeIn {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

.fadeIn {
	animation: 0.2s linear fadeIn;
	-webkit-animation: 0.2s linear fadeIn;
}